div.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 4vh 6vw 4vh 8vw;
    width: calc(100% - 14vw);
    padding: 2.5vh 0;
    border-top: 1px dashed rgba(51, 51, 51, 0.55);
    font-size: calc(1em + 0.1vw);
    color: rgba(51, 51, 51, 0.95);
}

div.footer nav.footer-bar {
    width: 27%;
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    min-width: 320px;
}

div.footer nav.footer-bar a {
    text-decoration: none;
    color: inherit;
}

div.footer nav.brand-bar {
    width: 15%;
    min-width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.brand-bar a {
    color: rgba(51, 51, 51, 0.95);
}