<article class="main-container">
    <h1>How It Works</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget orci id metus pulvinar tincidunt. Pellentesque hendrerit leo ligula, volutpat eleifend felis consectetur non. Aliquam erat volutpat. Suspendisse molestie maximus nisi non lobortis.
        Etiam commodo sit amet nisl eget maximus. Sed id velit non nunc interdum blandit. Nullam nec eros at quam tristique iaculis at eu lacus. In ullamcorper sagittis consequat. Nunc augue velit, vestibulum at turpis eu, porta iaculis lorem.</p>
    <p>Morbi pulvinar ex ac eleifend porttitor. Mauris eleifend eu ex et feugiat. Ut mollis suscipit nunc, quis auctor tellus. Sed pulvinar convallis lectus, id finibus sapien luctus cursus. Vivamus volutpat imperdiet metus, in ultricies augue suscipit ac.
        Cras ultrices augue eget ex blandit feugiat quis pellentesque lorem. Fusce elementum leo at tristique hendrerit.</p>
    <p>Quisque mollis, nisi sit amet consectetur sollicitudin, massa tortor sodales libero, id dapibus elit eros ut nisl. Donec sed venenatis magna. Mauris sollicitudin orci id justo varius, id vulputate enim interdum. Integer sagittis lorem vitae orci posuere
        lobortis. Pellentesque felis augue, tempus vel risus ut, molestie feugiat ex. Suspendisse a elementum massa. In suscipit molestie augue, eget luctus ligula varius ac. In sit amet tristique nunc.</p>
</article>