<div class="poll-box">
    <div class="content">
        <h4>What’s your opinion on</h4>
        <h1>Pope Francis?</h1>
        <div class="info-content">
            He's talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)
        </div>
        <a href="" class='info-link'>
            <fa-icon [icon]="faWikipediaW"></fa-icon>
            <span>More Information</span>
        </a>
        <h3>What's your Verdict?</h3>
    </div>
    <div class="thumbs">
        <button class="thumb-up" type="button">
            <fa-icon [icon]="faThumbsUp"></fa-icon>
        </button>
        <button class="thumb-down" type="button">
            <fa-icon [icon]="faThumbsDown"></fa-icon>
        </button>
    </div>
</div>