/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

article.main-container {
    display: flex;
    flex-direction: column;
    margin: 4vh 6vw 4vh 8vw;
    width: calc(90% - 14vw);
}

h1 {
    font-size: 4em
}